/* Remove margens e paddings padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove sublinhado e cor padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bullets de listas */
ul, ol {
  list-style: none;
}

/* Garante que imagens nunca estourem o container */
img {
  max-width: 100%;
  display: block;
}

/* Reset básico do body */
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* se quiser */
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */ /* removido para não afetar todas as páginas */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
